body {
    background-color:#2C2F33  
  }
  
  .square {
    float: left;
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    background-color: burlywood;
    margin: 5px;
    transition: 200ms;
  }
  
  .container {
    justify-content: center;
    max-width: 60vh;
    margin: 0 auto;
    align-items: center;
  }
  
  h1 {
      color: #1db954;
      text-align: center;
      width: 75vh;
      margin: 0 auto;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
      transition: 200ms;
  }

  #reset {
    color: #1db954;
    background-color: #424549;
    margin: 10px;
    font-size: 20px;
    border: #191414 groove 2px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
  }
  
  #message{
    display: block; 
    color: #ffffff;
    margin: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    transition: 200ms;
  }
  
  #stripe{
      background-color: #36393e;
      text-align: center;
      width: 50vh;
      margin: 0 auto;
      justify-content: center;
      padding: 10px;
      border-radius: 5px;
      height: 10vh;
  }
  
  .selected{
    background-color:  #7289da !important;
  } 

  #hardButton {
    margin: 10px;
    font-size: 20px;
    border: #424549 solid 2px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    background-color: red;
    transition: 200ms;
  }
  #easyButton {
    margin: 10px; 
    font-size: 20px;
    border: #424549 solid 2px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    background-color: #1db954;
    transition: 200ms;
  }
  #btnContainer {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  #reset:active {
    background-color: #191414;
  }
  #colorDisplay {
    display: inline-block;
    width: 100%;
    margin: 10px 0px 10px 0px;
    text-align: center;
  }